<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    {% block head %}
    <title>Thiago</title>
    {% endblock %}
</head>
<body>
<header>
<div class="links">
    <a href="/">About</a>
    <a href="/portfolio">Highlights</a>
</div>
</header>
    {% block content %}{% endblock %}
</body>
</html>